
.menu {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius:150px;
    vertical-align:middle;
    line-height:150px;
    text-align:center;
    font-size:30px; color:#fff;

}

.title{
    background-color:#FFC001;
    width:70%;
    height:100px;
    margin:auto;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}


@media all and (min-width:1025px) {
    .menu {
        width: 300px;
        height: 300px;
        display: inline-block;

        margin-left: 60px;
        border-radius:150px;
        vertical-align:middle;
        line-height:150px;
        text-align:center;
        font-size:30px; color:#fff;

    }

    .title{
        background-color:#FFC001;
        width:70%;
        height:250px;
        margin:auto;
        text-align: center;
        padding-top: 10px;
        font-size: 50px;
        font-weight: 700;

    }
}

.songFont{
    font-size: 20px;
    font-weight: 800;
}

.first{
    background-image: url("https://lh3.googleusercontent.com/proxy/viWPmhcAom8npyMYy0wRoO6JW0rNaiz0P3eLhNU_PFzDCir6-L-bAatwWIsPHXwXJnt9JnyUn8XH2zJ2GDceyM1rJVbOzfZNmGcHAPU3sREkzSUIWRemkWM_5Ti3E92LAw");
    background-size: cover;

}

.second {
    background-image: url("https://sleeplessaliana.files.wordpress.com/2020/01/ong-seong-wu-1st-digital-single-we-belong.jpg");
    background-size: cover;
}

 .third {
    background-image: url("https://file3.instiz.net/data/cached_img/upload/2019/02/01/11/1e1585ae7c6cf33afe29b20462cda03a.jpg");
    background-size: cover;
}
.footer {
    background-color: #A5A5A5;
    width: 70%;
    height: 50px;
    text-align: center;
    margin: 130px auto;


}

.menu-warp {
    width :70%;
    height:auto;

    margin:50px auto;

}

.button{
    margin-top: 3px;
    width: 100px;
    height: 30px;
}
#circle2 {
    background-color:#0009;
    border:1px solid #ff0000;
    width:100px; height:100px;
    border-radius:75px;
    text-align:center;
    margin:0 auto;
    font-size:12px; color:#fff;
    vertical-align:middle;
    line-height:100px;
}
